
<style>
   .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
  }

  .nav-link{
    margin-right: 10px;
  }
  /* background: linear-gradient(to right, #7b9799, #ffffff); */
/* background: linear-gradient(to right, #f9f9f9, #f0f0ff); */
/* style=" background: #E5F6FE;" */
</style>

<body id="navbar-page" class="navbar-page">
  
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"> <i class="fa-solid fa-plane-departure me-2" style="color: #2c3e50; font-size: 1.2rem;"></i>
         <b id="wanderlust">Wanderlust</b></a>    
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse"
       data-bs-target="#navbarNavAltMarkup"
       >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="/">Home</a> -->
          <a class="nav-link" href="/listings" style="opacity: 1;">Explore</a>
          <!-- <a class="nav-link" href="/listings/new">Add new Listing</a>   -->
          <a class="nav-link" id="add-listing" href="/listings/new">Wanderlust your Home</a> 
        </div>
        
       <div class="navbar-nav-search ">
        <form class="d-flex" role="search">
          <input class="form-control-search me-2 btn-input" type="search" placeholder="Search destination" aria-label="Search" style="background: linear-gradient(to right, #f9f9f9, #f0f0ff);">
          <button class="btn btn-search" type="submit">Search</button>
        </form>
       </div>

       <!-- copy paste m -->
        </div>
         

        <% if (currUser) { %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              <i class="fa-solid fa-user"></i> <%= currUser.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href = "/profile">Profile</a></li>
              <!-- <li><a class="dropdown-item" href="/my-listings">My Listings</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
          <a class="nav-link" href="/notifications">
            <i class="fa-solid fa-bell"></i>
          </a>
        <% } else { %>
          <a class="nav-link" id="nav-logSign" href="/signup"><b>Signup</b></a>
          <a class="nav-link" id="nav-logSign" href="/login"><b>Login</b></a>
        <% } %>
         
        <!-- <a class="nav-link" href="/notifications">
          <i class="fa-solid fa-bell"></i>
        </a> -->
        
        




      </div>
    </div>
  </nav>
</body>
