
<% layout("/layouts/boilerplate") %>




<div class="container mt-5">
    <h2>👤 Welcome <%= currUser.username %>!</h2> 
    
    <div class="row">
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Your Profile</h5>
                </div>
                <div class="card-body">
                    <p><strong>Email:</strong> <%= currUser.email %></p>
                    <p><strong>Username:</strong> <%= currUser.username %></p>
                </div>
            </div>
              
        </div>

        <!-- Actions Section -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Your Actions</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                         <li class="nav-link"><a style="color: #222222 !important; text-decoration: none;" href="/listings/new">Wanderlust your Home</a></li>   <!-- list-group-item -->
                         
                        <li class="nav-link" ><a style="color: #222222 !important; text-decoration: none;" href="/listings">Explore</a></li>
                        <li class="nav-link"><a style="color: #222222 !important; text-decoration: none;" href="/logout" class="text-danger">Logout</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


